* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --first-color: #bebbbb;
}

html {
  font-size: 62.5%;
}

body {
  padding: 1rem;
  font-size: 1.6rem;
}

h1 {
  color: #dc143c;
  margin: 10px 0;
  text-align: center;
}

.container {
  margin: 1rem auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vh 20vh 20vh 15vh 10vh;
  gap: 1rem;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "article1 article1 article2 article2"
    "section1 section2 section2 section3"
    "footer footer footer footer";
}

.border {
  border: 1px solid var(--first-color);

}

.header{
  grid-area: header;
}

main {
  grid-area: main;
}

.article1 {
  grid-area: article1;
}

.article2 {
  grid-area: article2;
}

.section1 {
  grid-area: section1;;
}

.section2 {
  grid-area: section2;
}

.section3 {
  grid-area: section3;
}

.footer {
  grid-area: footer;
}
