* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

html {
  font-size: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  /* font-size: 30px; */
}

.box {
  /* font-size: 25px; */
}

.box p {
  font-size: 2rem;
}
