* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

}

:root {
--first-color: #bebbbb;
--second-color: #444054;
--third-color: #2f243a;
--fourth-color: #2a2464;
--bg-dark: #333;
--bg-white: #fff;
}

html {
  font-size: 62.5%;
}

body {
  padding: 1rem;
  font-family: calibri;
  font-size: 1.6rem;;
}

h1 {
  color: #dc143c;
}
