* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.header, .main, .section, .article, .aside, .footer {
  width: 80%;
  height: 30rem;
  border: 1px solid #000;
  text-align: center;
  padding: 2rem;
  margin: 2rem auto;

}

.header-menu {
  background-color: #999;
}
